<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>尚名校</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/details.css">
    <link rel="stylesheet" href="stylesheets/style_recommened.css"
</head>
<body>
<% include navigation.ejs %>
<div class="head">
    <div class="header">
        <div class="headphoto"><img src="img/headphoto.png" width="91px" height="88px"></div>
        <div class="headpassage">
            <p1>易婷</p1>
            <br>
            <p2>个性签名：欢迎来到尚名校，welcome to SMX</p2>
        </div>
        <div class="headlogo"><img src="img/headlogo.png" width="119px" height="100px"></div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div class="s-left">
            <div class="guide"><a href="/student">我的课程</a></div>
            <div class="guide"><a href="/course_re">推荐课程</a></div>
            <div class="guide"><a href="/student_detail">个人资料</a></div>
        </div>

        <div class="s-right">

            <div class="right-guide" id="right-guide">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#">筛选课程</a></li>
                    <li><a href="#">申请课程</a></li>
                </ul>
            </div>

            <div class="right-content" id="right-content">

                <div class="mod">
                    <div class="box">
                        <img src="img/picture.jpg"/>
                        <div class="course-title"><a>圆锥曲线</a></div>
                        <div class="course-info"><a>教室2</a>&nbsp;&nbsp;&nbsp;<a>15:00-15:45</a>&nbsp;&nbsp;&nbsp;<a>齐书强老师</a>
                        </div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
                    </div>

                    <div class="box">
                        <img src="img/picture.jpg"/>

                        <div class="course-title"><a>等比函数</a></div>
                        <div class="course-info"><a>教室2</a>&nbsp;&nbsp;&nbsp;<a>15:00-15:45</a>&nbsp;&nbsp;&nbsp;<a>齐书强老师</a>
                        </div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
                    </div>

                    <div class="box">
                        <img src="img/picture.jpg"/>

                        <div class="course-title"><a>霍夫曼树</a></div>
                        <div class="course-info"><a>教室2</a>&nbsp;&nbsp;&nbsp;<a>15:00-15:45</a>&nbsp;&nbsp;&nbsp;<a>姜国海老师</a>
                        </div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
                    </div>
                </div>

                <div class="mod" style="display:none;">
                    <div class="box" style="background:#CFE6E5;">
                        <label>科目：</label>
                        <select>
                            <option>语文</option>
                            <option>数学</option>
                            <option>英语</option>
                            <option>物理</option>
                        </select>
                        <label>年级：</label>
                        <select>
                            <option>高一</option>
                            <option>高二</option>
                            <option>高三</option>
                        </select>
                        <label>老师：</label>
                        <select>
                            <option>齐书强</option>
                            <option>张三</option>
                            <option>李四</option>
                        </select>
                    </div>

                    <div class="box">
                        <img src="img/picture.jpg"/>

                        <div class="course-title"><a>等比函数</a></div>
                        <div class="course-info"><a>教室2</a>&nbsp;&nbsp;&nbsp;<a>15:00-15:45</a>&nbsp;&nbsp;&nbsp;<a>齐书强老师</a>
                        </div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
                    </div>

                    <div class="box">
                        <img src="img/picture.jpg"/>

                        <div class="course-title"><a>霍夫曼树</a></div>
                        <div class="course-info"><a>教室2</a>&nbsp;&nbsp;&nbsp;<a>15:00-15:45</a>&nbsp;&nbsp;&nbsp;<a>姜国海老师</a>
                        </div>
                        <div class="pro-bac"></div>
                        <div class="pro-fro"></div>
                        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
                    </div>
                </div>

                <div class="mod" style="display:none;">
                    <div class="apply">
                        <form>
                            <label>科目</label>
                            <input type="text" placeholder="请输入选择的课程" />
                        </form>
                        <form>
                            <label>年级</label>
                            <input type="text" placeholder="请输入你的年级" />
                        </form>
                        <form>
                            <label>内容</label>
                            <textarea rows="10" cols="51"></textarea>
                        </form>
                        <form>
                            <label>时间</label>
                            <input type="text" placeholder="请输入年/月/日" />
                        </form>
                        <div class="submit">
                            <input type="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function $(id) {
        return typeof id === 'string' ? document.getElementById(id) : id;
    }
    window.onload = function () {
        var titles = $('right-guide').getElementsByTagName('li');
        var divs = $('right-content').getElementsByClassName('mod');

        for (var i = 0; i < titles.length; i++) {
            titles[i].id = i;
            titles[i].onclick = function () {
                for (var j = 0; j < titles.length; j++) {
                    titles[j].className = ' ';
                    divs[j].style.display = 'none';
                }
                this.className = 'select';
                divs[this.id].style.display = 'block';
            }
        }
    }
    router.get('/course_recommened',function (req,res) {
        res.render('course_recommened',{})
    })
</script>