<style>
    *{padding: 0px;margin: 0px;}
    .nav{
        height: 25px;
        width: auto;
        background-color:#0d0d0d;
        color:#ffffff;
        font-size: 14px;
    }
    .nav_term{
        height: 22px;
        padding:auto;
        width: 70px;
        cursor:pointer;

    }
    .nav_term:hover{
        color:#57a5a5;
        border-bottom: 3px solid #57a5a5;
    }
    li{
        float: left;
        list-style: none;
        margin-right: 14px;
    }
    a:hover{
        color:#57a5a5;
    }

    a{
        line-height:25px;
        text-decoration:none;
        color:#fcfcfc;
    }
</style>

<div class="nav">
    <div class="contain">
        <ul>
            <li>
                <div class="nav_term"><a href="#">关于我们</a></div>
            </li>
            <li>
                <div class="nav_term"><a href="#">课程介绍</a></div>
            </li>
            <li>
                <div class="nav_term"><a href="#">视频平台</a></div>
            </li>
            <li>
                <div class="nav_term"><a href="#">联系我们</a></div>
            </li>
        </ul>
        <div style="float: right">
            <ul>
                <li><a href="/" style="color: #57a5a5">首页</a></li>
                <li><a href="#">登录</a><span>/</span><a href="#">注册</a></li>
                <li><a href="/student">个人中心</a></li>
            </ul>
        </div>
    </div>
</div>