<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>尚名校</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="stylesheets/details.css">
</head>
<body>
<%include navigation.ejs%>
<div class="head">
    <div class="header">
        <div class="headphoto"><img src="img/headphoto.png" width="91px" height="88px"></div>
        <div class="headpassage">
            <p1>易婷</p1><br>
            <p2>个性签名：欢迎来到尚名校，welcome to SMX</p2>
        </div>
        <div class="headlogo"><img src="img/headlogo.png" width="119px" height="100px"></div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div class="s-left">
            <div class="guide"><a href="/student">我的课程</a></div>
            <div class="guide"><a href="/course_re">推荐课程</a></div>
            <div class="guide"><a  href="/student_detail">个人资料</a></div>
        </div>
        <div class="back212">
            <div class="ziliao">
                <ul>
                    <li>学生姓名：易婷</li>
                    <li>年龄：20</li>
                    <li>学校：大连理工大学</li>
                    <li>个性签名：欢迎来到尚名校！</li>

                </ul>
            </div>
            <div class="photo">
                <div class="img">
                    <img src="img/touxiang.png" width="100px">
                </div>
            </div>
            <div class="pbutton11">
                <a href="https://www.baidu.com/" target="_blank"><button class="button button1" >编辑资料</button></a>
            </div>
            <div class="pbutton12">
                <a href="#" target="_blank"><button class="button button2">保存</button></a>

            </div>
            <div class="line1">
                <div class="line"></div>
            </div>
            <div class="pbutton21">
                <a href="#" target="_blank"><button class="button button2" >申请修改</button></a>
            </div>
            <div class="line2">
                <div class="line"></div>
            </div>
            <div class="idlogin">

                <li>注册身份信息</li>
                <div class="idphoto1"><img src="img/bridge.png"></div>
                <div class="idphoto2"><img src="img/bridge.png"></div>

            </div>

        </div>


    </div>
</div>


</body>