.right-guide ul{
    margin-left:400px;
}
.box label{
    margin-left:50px; font-size:20px; font-weight:bold;
}
.box select{
    margin-top:80px; width:100px; height:25px; outline:none;
}
.apply{
    width:100%; height:600px; background:white;
}
.apply label{
    margin-left:150px; margin-top:100px; font-size:20px; font-weight:bold;
}
.apply input{
    margin-top:50px; height:25px; width:350px; margin-left:50px;
}
.apply textarea{
    margin-top:50px; margin-left:50px;
}
.submit{
    margin-left:200px; border:1px solid transparent;
}
.submit input{
    background:#8ABFDC; color:white; outline:none; border:1px solid transparent; border-radius:5px; height:50px; font-size:20px;
}
.submit input:hover{
    cursor:pointer;
0